<section class="container">
  <div class="card">
    <h2 class="gallery-name">{{title}}</h3>
    <h4>Content: {{content}}</h4>
    <h4>Created by: {{user.username}}</h4>
    <h4>Created on: {{format_date createdAt}}</h4>
  </div>
</section>