<section class="container">
  <h3 class="gallery-name">{{post.title}}</h3>
  <h4>Content: {{post.content}}</h4>
  <h4>Created by: {{post.user_id}}</h4>
  <h4>Created on: {{format_date post.createdAt}}</h4>
  <section class="flex-row justify-center">
    {{#each post.comment as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
  {{#if loggedIn}}
  <!-- Add comment user input section -->
  <script src="./js/new-comment.js"></script>
  {{/if}}
</section>