<section class="container">
  <h3 class="gallery-name">{{post.title}}</h3>
  <h4>Content: {{post.content}}</h4>
  <h4>Created by: {{post.user.username}}</h4>
  <h4>Created on: {{format_date post.createdAt}}</h4>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
  {{#if loggedIn}}
  <div class="row justify-space-between-md">
  <div class="">
    <h2 class="page-title">Add a comment</h2>
    <form class="form newcomment-form">
      <div class="form-group">
        <label for="content-newcomment">Content:</label>
        <input class="form-input" type="text" id="content-newcomment" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  </div>
  <script src="../js/new-comment.js"></script>
  {{/if}}
</section>