:root {
  --primary: #030929;
  --secondary: #80bdfa;
  --tertiary: #3e5b9f;
  --quatrinary: #6c6b67;
  --light: #ffffff;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
}

* {
  font-family: Arial;
  margin: 0%;
}

nav {
  background-color: var(--tertiary);
  margin: 0%;
  padding: 10px;
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

header {
  padding: 10px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

.main {
  /* flex: 4; */
  background-color: #fff;
  font-family: Arial;
  width: 100%;
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  align-items: center;
}

.card {
  margin: 20px;
  border: 2px solid var(--primary);
  background-color: var(--light);
  color: var(--primary);
  position: relative;
}

.card-title {
  background-color: var(--primary);
  color: var(--light);
  padding: 5px;
}

.card-comment-title {
  background-color: var(--tertiary);
  color: var(--light);
  padding: 5px;
}

.card-content {
  color: var(--primary);
  padding: 5px;
}

.card-info {
  text-align: right;
  color: var(--tertiary);
  padding: 5px;
}

.card a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.add-comment {
  margin: 20px;
  text-align: center;
  border: solid black;
  background-color: var(--tertiary);
}

.add-comment-title {
  margin: 5px;
  color: var(--light);
}

#content-newcomment {
  width: 95%;
  padding: 2px;
}

.btn-submit {
  margin: 5px;
  font-size: 15px;
}

.logout-btn {
  background: none;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.1s;
  font-weight: bold;
  text-align: center;
}

.logout-btn:hover {
  color: var(--secondary);
  background-color: var(--primary);
}